@use '../../styles/breakpoints' as *;
@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;


.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 100px;
  margin-top: 20px;
  background: transparent;
  z-index: 100;
  box-sizing: border-box;

  animation: headerEnter 1s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  opacity: 0;
  transform: translateY(-70px);
  @keyframes headerEnter {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.header__logo {
  width: 100px;
  height: 60px;
  display: flex;
  justify-content: center;
}

.header__nav {
  position: static;
  display: flex;
  background: transparent;

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 5px;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: clamp(110px, 12vw, 180px);
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(18px, 1.4vw, 23px);
    font-weight: 400;
    line-height: 120%;
    color: #5988ff;
  }

  a {
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    color: inherit;
    transition:
      color 0.2s ease,
      font-weight 0.2s ease;
    &:hover {
      font-weight: 600;
      color: #5988ff;
    }
  }
}

.header__lang {
  display: flex;
  gap: 8px;
  font-size: 23px;
}

.header__lang span {
  position: relative;
  display: inline;
  cursor: pointer;
  color: #5988ff;
  font-weight: 400;
  transition:
    color 0.2s ease,
    font-weight 0.2s ease;
}

.header__lang span:hover {
  color: rgba(89, 136, 255, 1);
  font-weight: 600;
}

.header__lang span.active {
  color: rgba(89, 136, 255, 1);
  font-weight: 600;
}

.header__lang span.active::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translateX(-50%);
  width: 90%;
  height: 4px;
  background: #5988ff;
  border-radius: 999px;
}



.hamburger {
  display: none;
  font-size: 32px;
  cursor: pointer;
  color: #0b597a;
  z-index: 6000;
}

.header__logo img {
  height: auto;
  object-fit: contain;
  border-radius: 12px;
  animation: logoFloat 3s ease-in-out infinite;
  transition:
    transform 0.35s ease,
    filter 0.35s ease;
}

.header__logo img,
.site-footer__logo {
  border-radius: 50%;
}

.header__logo:hover img {
  transform: scale(1.08);
  filter: drop-shadow(0 0 10px rgba(108, 142, 240, 0.8))
    drop-shadow(0 0 20px rgba(108, 142, 240, 0.6)) drop-shadow(0 0 40px rgba(108, 142, 240, 0.4));
}

@media (max-width: $laptop) {
  .header {
    padding: 0 5px;
    margin-top: 16px;
  }

  .header__logo {
    width: 90px;
    height: 54px;
  }

  .header__nav ul {
    gap: 20px;
  }

  .header__lang {
    font-size: 20px;
  }
}

@media (max-width: $tablet) {
  .header {
    padding: 0 32px;
    margin-top: 12px;
  }

  .header__logo {
    width: 80px;
    height: 48px;
  }

  .header__nav ul {
    gap: clamp(20px, 1vw, 20px);
  }

  .header__nav li {
    font-size: 18px;
    min-width: clamp(110px, 10vw, 170px);
  }

  .header__lang {
    font-size: 18px;
  }
}

@media (max-width: $mobile) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 0 24px;
    margin-top: 0;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(12px);
    z-index: 2000;

    animation: headerEnterMobile 1.2s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  }


  .header__logo {
    width: 75px;
    height: 75px;
    position: relative;
    z-index: 7000;
  }

  .header__logo img {
    width: 100%;
    height: auto;
  }

  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: #5988ff;
    z-index: 3000;
  }

  .header__nav ul {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
  
  .header__nav {
    position: fixed;

    top: 0;
    right: -100%;

    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(255, 255, 255, 0.98);
    backdrop-filter: blur(20px);

    transition: right 0.4s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .header {
    background: transparent;
    backdrop-filter: none;
  }

  .header.menu-open {
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(12px);
  }

  .header__nav.open {
    right: 0;
  }

  .header__nav.open li {
    font-size: 28px;
    min-width: unset;
  }

  .header__nav.open ul {
    flex-direction: column;
    gap: 36px;
  }

  .header__lang {
    position: absolute;
    bottom: 60px;
    font-size: 22px;
  }
}

@keyframes headerEnterMobile {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
