html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

.heading {
  font-family: 'Baloo 2', cursive;
}

.heading-xl {
  font-family: 'Baloo 2', cursive;
  font-weight: 400;
  font-size: 128px;
  line-height: 120%;
  letter-spacing: -0.025em;
}

.heading-lg {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 100%;
}

.nav-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
}

.scroll-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 23px;
  line-height: 120%;
}

.heading-xxl {
  font-family: 'Baloo 2', cursive;
  font-weight: 400;
  font-size: 121px;
  line-height: 100%;
  letter-spacing: 0.01em;
}

.heading-xl {
  font-family: 'Baloo 2', cursive;
  font-weight: 400;
  font-size: 128px;
  line-height: 120%;
  letter-spacing: -0.025em;
}

.heading-lg {
  font-family: 'Baloo 2', cursive;
  font-weight: 400;
  font-size: 96px;
  line-height: 100%;
  letter-spacing: 0.01em;
}

.heading-md {
  font-family: 'Baloo 2', cursive;
  font-weight: 400;
  font-size: 90px;
  line-height: 120%;
}

.heading-sm {
  font-family: 'Baloo 2', cursive;
  font-weight: 400;
  font-size: 45px;
  line-height: 120%;
}

.text-lg {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
}

.text-md {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.button-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

router-outlet + * {
  flex: 1;
}

@font-face {
  font-family: 'Baloo 2';
  src: url('/assets/fonts/Baloo2-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
